<div id="lvk-mini-tracker">
    {{#if hasCombat}}
    <div class="__inner {{innerCss}}">
        <div class="__resizer"></div>

        <header>
            <a class="combat-control" data-control="rollAll" title="{{localize 'COMBAT.RollAll'}}">
                <i class="fas fa-users"></i>
            </a>
            {{#if isGM}}
            <a class="combat-control" data-control="rollNPC" title="{{localize 'COMBAT.RollNPC'}}">
                <i class="fas fa-users-cog"></i>
            </a>
            <a class="combat-control" data-control="resetAll" title="{{localize 'COMBAT.InitiativeReset'}}">
                <i class="fas fa-undo"></i>
            </a>
            {{/if}}

            <span class="draggable">
                {{#if round}}{{localize 'COMBAT.Round'}} {{round}}{{else}}{{localize 'COMBAT.NotStarted'}}{{/if}}
            </span>

            {{#if isGM}}
            <a data-control="trackerSettings" title="{{localize 'COMBAT.Settings'}}">
                <i class="fas fa-cog"></i>
            </a>
            {{/if}}
            <a data-control="trackerReverse" title="{{localize 'mini-tracker.reverse'}}">
                <i class="fa-solid fa-arrow-{{arrow}}"></i>
            </a>
            <a data-control="trackerExpand" title="{{localize 'mini-tracker.expand'}}">
                <i class="fas fa-expand"></i>
            </a>
        </header>

        <ol>
            {{#each turns}} {{#if this}}
            <li class="combatant {{this.css}}" data-combatant-id="{{this.id}}">
                <img src="{{this.img}}" alt="{{this.name}}" />

                <div class="__details">
                    <h4>{{this.name}}</h4>

                    <div class="__icons">
                        {{#if @root.isGM}}
                        <a
                            class="combatant-control{{#if this.hidden}} active{{/if}}"
                            data-control="toggleHidden"
                            data-tooltip="COMBAT.ToggleVis"
                        >
                            <i class="fas fa-eye-slash"></i>
                        </a>
                        {{#if (and @root.hideNames (not this.hasPlayerOwner))}}
                        <a
                            class="combatant-control{{#if this.playersCanSeeName}} active{{/if}}"
                            data-control="toggle-name-visibility"
                            data-tooltip="mini-tracker.anonymous.{{#if this.playersCanSeeName}}hide{{else}}show{{/if}}"
                        >
                            <i class="fa-solid fa-signature"></i>
                        </a>
                        {{/if}} {{#if (and @root.immobilize this.hasPlayerOwner)}}
                        <a
                            class="combatant-control{{#if this.freed}} active{{/if}}{{#unless this.canImmobilize}} disabled{{/unless}}"
                            data-control="toggleImmobilized"
                            data-tooltip="mini-tracker.movement.{{#if this.freed}}lock{{else}}free{{/if}}"
                        >
                            <i class="fa-solid fa-person-running"></i>
                        </a>
                        {{/if}}
                        <a
                            class="combatant-control{{#if this.defeated}} active{{/if}}"
                            data-control="toggleDefeated"
                            data-tooltip="COMBAT.ToggleDead"
                        >
                            <i class="fas fa-skull"></i>
                        </a>
                        {{/if}} {{#if this.canPing}}
                        <a class="combatant-control" data-control="pingCombatant" data-tooltip="COMBAT.PingCombatant">
                            <i class="fa-solid fa-bullseye-arrow"></i>
                        </a>
                        {{/if}} {{#unless @root.isGM}}
                        <a class="combatant-control" data-control="targetCombatant" data-tooltip="mini-tracker.target">
                            <i class="fa-solid fa-street-view"></i>
                        </a>
                        {{/unless}}
                        <div class="__effects">
                            {{#each this.effects}}
                            <img src="{{this.icon}}" data-tooltip="{{this.name}}" />
                            {{/each}}
                        </div>
                    </div>
                </div>

                <div class="__initiative">
                    {{#if this.hasRolled}} {{#if @root.showHp}}
                    <span>{{this.initiative}} <i class="fas fa-dice-d20"></i></span>
                    {{#if this.showHp}}
                    <span class="hp{{#unless (eq this.hpMax undefined)}} colored{{/unless}}" style="--hp-hue: {{this.hpHue}};">
                        {{this.hpValue}}
                        <i class="fas fa-heart"></i>
                    </span>
                    {{/if}} {{else}}
                    <span>{{this.initiative}}</span>
                    {{/if}} {{else if this.owner}}
                    <a class="__roll combatant-control" data-control="rollInitiative"></a>
                    {{/if}}
                </div>
            </li>
            {{/if}} {{/each}}
        </ol>

        {{#if isGM}}
        <footer>
            {{#if round}}
            <a class="combat-control" data-control="previousRound" title="{{localize 'COMBAT.RoundPrev'}}">
                <i class="fas fa-step-backward"></i>
            </a>
            <a class="combat-control" data-control="previousTurn" title="{{localize 'COMBAT.TurnPrev'}}">
                <i class="fas fa-arrow-left"></i>
            </a>
            <a class="combat-control" data-control="endCombat"> {{localize 'COMBAT.End'}} </a>
            <a class="combat-control" data-control="nextTurn" title="{{localize 'COMBAT.TurnNext'}}">
                <i class="fas fa-arrow-right"></i>
            </a>
            <a class="combat-control" data-control="nextRound" title="{{localize 'COMBAT.RoundNext'}}">
                <i class="fas fa-step-forward"></i>
            </a>
            {{else}}
            <a class="combat-control" data-control="startCombat" title="{{localize 'COMBAT.Begin'}}">
                {{localize 'COMBAT.Begin'}}
            </a>
            {{/if}}
        </footer>
        {{else if endTurn}}
        <footer>
            <a class="combat-control{{#unless isCurrentTurn}} disabled{{/unless}}" data-control="nextTurn">
                {{localize 'COMBAT.TurnEnd'}}
            </a>
        </footer>
        {{/if}}
    </div>
    {{/if}}
</div>
