#mini-tracker {
    --font-size: 14px;
    --sidebar-item-height: 3.42em;

    position: fixed;
    width: 21.42em;
    z-index: 50;

    font-size: var(--font-size);

    a.disabled {
        color: grey;
        pointer-events: none;
    }

    .__inner {
        position: relative;
        border: 1px solid var(--color-border-dark);
        background: url(/ui/denim075.png) repeat;
        border-radius: 5px;
        box-shadow: 0 0 20px var(--color-shadow-dark);
        margin: 5px;
        display: flex;
        flex-direction: column;
        color: var(--color-text-light-highlight);

        header {
            display: grid;
            padding: 0.14em;
            grid-template-columns: repeat(3, 1.71em) auto repeat(3, 1.71em);

            > * {
                width: 100%;
                height: 100%;
                text-align: center;
                padding: 0.14em 0;
                flex: 0;
            }

            [data-control='rollAll'] {
                grid-column: 1;
            }

            [data-control='rollNPC'] {
                grid-column: 2;
            }

            [data-control='resetAll'] {
                grid-column: 3;
            }

            span {
                grid-column: 4;
            }

            [data-control='trackerSettings'] {
                grid-column: 5;
            }

            [data-control='trackerReverse'] {
                grid-column: 6;
            }

            [data-control='trackerExpand'] {
                grid-column: 7;
            }
        }

        footer {
            display: grid;
            padding: 0.14em;
            grid-template-columns: repeat(2, 1.71em) auto repeat(2, 1.71em);

            > * {
                width: 100%;
                height: 100%;
                text-align: center;
                padding: 0.14em 0;
                flex: 0;
            }

            [data-control='startCombat'] {
                grid-column: 3;
            }

            [data-control='nextTurn'] {
                &:only-child {
                    grid-column: 3;
                }
            }
        }

        > ol {
            position: relative;
            scrollbar-width: thin;
            flex: 1;
            border-top: 1px solid #0000007d;
            border-bottom: 1px solid #0000007d;
            overflow-y: auto;
            list-style: none;
            padding: 0;
            margin: 0;

            > li {
                line-height: var(--sidebar-item-height);
                border-top: 1px solid transparent;
                border-bottom: 1px solid transparent;
                display: flex;
                gap: 0.28em;
                padding-left: 0.28em;

                &:hover {
                    background: rgba(255, 255, 255, 0.08);
                }

                > img {
                    flex: 0 0 var(--sidebar-item-height);
                    height: var(--sidebar-item-height);
                    width: var(--sidebar-item-height);
                    object-fit: cover;
                    object-position: 50% 0;
                    border: none;
                }

                .__details {
                    flex: 1;
                    overflow: hidden;
                    text-shadow: 1px 1px 4px var(--color-shadow-dark);
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    padding-top: 1px;

                    h4 {
                        white-space: nowrap;
                        overflow: hidden;
                        flex: 0 0 1.71em;
                        line-height: 2em;
                        margin: 0;
                    }

                    .__icons {
                        display: flex;
                        flex-wrap: nowrap;
                        overflow: hidden;
                        flex: 0 0 1.42em;
                        font-size: var(--font-size);
                        line-height: 1.42em;
                        color: var(--color-text-dark-5);
                        gap: 0.21em;

                        > a {
                            &.active {
                                color: var(--color-text-light-1);
                            }

                            &.disabled {
                                pointer-events: none;
                            }
                        }

                        .__effects {
                            height: 1.424em;
                            display: flex;

                            > img {
                                width: 1.14em;
                                height: 1.14em;
                                margin: 1px 0;
                                border: none;
                                border-radius: 0;
                            }
                        }
                    }
                }

                .__initiative {
                    flex: 0 0 4.42em;
                    height: var(--sidebar-item-height);
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: center;

                    span {
                        font-size: var(--font-size);
                        text-shadow: 1px 1px 4px var(--color-shadow-dark);
                        line-height: 1.5;
                        display: flex;
                        align-items: center;
                        gap: 0.28em;
                        padding-right: 0.42em;
                    }

                    .__roll {
                        height: 100%;
                        aspect-ratio: 1/1;
                        background: url(/icons/svg/d20.svg) no-repeat 50% 50%;
                        background-size: 2.28em;

                        &:hover {
                            background-image: url(/icons/svg/d20-highlight.svg);
                        }
                    }
                }

                &:not(.hidden):not(.defeated) {
                    .__initiative .hp.colored {
                        color: hsl(var(--hp-hue) 75% 40%);
                    }
                }

                &.anonymous {
                    .__details h4 {
                        color: var(--color-text-light-7);
                    }
                }

                &.hidden {
                    .__details h4,
                    .__initiative {
                        color: var(--color-text-light-7);
                    }

                    img {
                        opacity: 0.3;
                    }
                }

                &.defeated {
                    .__details h4,
                    .__initiative {
                        color: #b32019;
                    }
                }
            }
        }
        .__resizer {
            position: absolute;
            top: auto;
            bottom: 1px;
            left: 0;
            right: 0;
            height: 5px;
            background-color: transparent;
            cursor: s-resize;
            transform: translateY(100%);
        }

        &:not(.expanded) {
            > ol {
                > li {
                    &:not(.active) {
                        display: none;
                    }
                }
            }

            .__resizer {
                display: none;
            }
        }

        &:not(.reversed) {
            > ol {
                &:last-child {
                    border-bottom: 0;
                }
            }
        }
    }

    .__inner.expanded {
        ol {
            li.hovered {
                background: rgba(255, 255, 255, 0.08);
            }

            li.active {
                border-color: var(--color-border-highlight);
                background: rgba(255, 255, 255, 0.1);
            }
        }
    }

    .__inner.reversed {
        flex-direction: column-reverse;

        > ol {
            &:last-child {
                border-top: 0;
            }
        }

        .__resizer {
            cursor: n-resize;
            bottom: auto;
            top: 1px;
            transform: translateY(-100%);
        }
    }
}
